.App {
  border: 8px solid orange;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  /* border: 4px solid black; */
  text-align: center;
}

.app-content {
  border: 4px solid blue;
  padding: 1em;
  box-sizing: border-box;
  width: 96vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
